<ngb-toast type="success" *ngIf="showAddToast" (hidden)="showAddToast = false">
    <div class="toast-body">
        User has been Added successfully.
    </div>
</ngb-toast>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">User List</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1">
                                <button (click)="openModal(Add)" type="button" class="btn btn-primary add-btn"
                                    data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i
                                        class="ri-add-line align-bottom me-1"></i>
                                    Add</button>

                            </div>
                        </div>
                        <!-- <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Search...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <div *ngIf="isLoading">
                            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                              <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                          </div>
                        <table class="table" *ngIf="!isLoading">
                            <thead>
                                <tr class="bg-light text-muted">

                                    <th>Full_Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of getVisibleSchedules();">
                 
                                    <!-- <th scope="row">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkAll" value="{{data.id}}" [(ngModel)]="data.state">
                      </div>
                    </th> -->
                                    <td>{{ data.fullName }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>{{ data.roleName }}</td>

                                    <!-- <td class="status"><span class="badge bg-{{data.status_color}}-subtle text-{{data.status_color}}F text-uppercase">{{data.status}}</span>
                    </td> -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-primary edit-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#showModal"
                                                    (click)="editModa(content,data.userId)">Edit</button>
                                            </div>
                                            <div class="remove">
                                                <!-- (click)="confirm(deleteModel,data.id)" -->
                                                <button class="btn btn-sm btn-success remove-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#deleteRecordModal"
                                                    (click)="confirm(deleteModel,data.userId)">Remove</button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <div class="text-sm-right float-sm-end listjs-pagination gap-2">
                              <ngb-pagination [collectionSize]="Users.length" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="loadPage()">
                              </ngb-pagination>
                            </div>
                          </div>
                    </div>

                    <!-- <div class="row justify-content-md-between align-items-md-center">
              <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  Showing
                  {{service.startIndex}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div>
              </div> -->
                    <!-- Pagination -->
                    <!-- <div class="col col-sm-6">
                <div class="text-sm-right float-end listjs-pagination">
                  <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                    [pageSize]="service.pageSize">
                  </ngb-pagination>
                </div>
              </div>
            
            </div> -->
                </div>
            </div>
        </div>

    </div>

</div>
<ng-template #Add role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="userForm" class="tablelist-form" autocomplete="off">
        <div class="modal-body">

            <div class="mb-3">
                <label for="phone-field" class="form-label">fullName</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter FullName" required
                    formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && form['fullName'].errors }" />
                <div class="invalid-feedback">Please enter fullName</div>
            </div>

            <div class="form-group">
                <label for="roleId">Role</label>
                <select id="roleId" placeholder="Enter Name" formControlName="roleId" class="form-control">
                    <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}</option>
                </select>

            </div>

            <div class="mb-3">
                <label for="phone-field" class="form-label">Email</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter email" required
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['Salary'].errors }" />
                <div class="invalid-feedback">Please enter a Email.</div>
            </div>
            <div class="mb-3">
                <label for="phone-field" class="form-label">Password</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter password" required
                    formControlName="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
                <div class="invalid-feedback">Please enter a password.</div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-success" id="add-btn" (click)="addUser()">Save</button>
            </div>
        </div>
    </form>
</ng-template>


<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="userForm" class="tablelist-form" autocomplete="off">
        <div class="modal-body">

            <div class="mb-3">
                <label for="phone-field" class="form-label">fullName</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter FullName" required
                    formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && form['fullName'].errors }" />
                <div class="invalid-feedback">Please enter fullName</div>
            </div>

            <div class="form-group">
                <label for="roleId">Role</label>
                <select id="roleId" placeholder="Enter Role" formControlName="roleId" class="form-control">
                    <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}</option>
                </select>

            </div>

            <div class="mb-3">
                <label for="phone-field" class="form-label">Email</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter email" required
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['Salary'].errors }" />
                <div class="invalid-feedback">Please enter a Email.</div>
            </div>
            <!-- <div class="mb-3">
                <label for="phone-field" class="form-label">Password</label>
                <input type="text" id="phone-field" class="form-control" placeholder="Enter password" required
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
                     <div class="invalid-feedback">Please enter a password.</div>
                     
            </div> -->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-success" id="add-btn" (click)="addUser()">Save</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #deleteModel let-modal="modal" let-journal="journal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal?.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">

                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Are you Sure ?</h4>
                    <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this User ?</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal?.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                <button type="button" class="btn w-sm btn-danger" id="delete-product"
                    (click)="modal?.close('Close click')">Yes, Delete It!</button>
            </div>

        </div>
    </div>
</ng-template>