<div class="col-lg-6">
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
            aria-label="Upload" (change)="onFileSelected($event)" accept=".xlsx, .xls">
        <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon04" (click)="importData()">Import</button>
    </div>
</div>
<div class="row" *ngIf="!isLoading && transactions.length > 0">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Journal</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <!-- <div class="row g-4 mb-3"> -->

                    <!-- <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                 
                </div>
              </div> -->
                    <!-- </div> -->

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                                <tr class="bg-light text-muted">

                                    <th>Transaction Date</th>
                                    <th>Account Code</th>
                                    <th>Account Name</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Party Name</th>
                                    <th>Transaction Type</th>
                                    <th>Note</th>
                                    <th>Journal NO</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of getVisibleSchedules(); ">

                                    <td>{{ data.Tran_Date }}</td>
                                    <td>{{ data.Account_code }}</td>
                                    <td>{{ data.Account_Name }}</td>
                                    <td>{{ data.Dr }}</td>
                                    <td>{{ data.Cr }}</td>
                                    <td>{{ data.Party_Name}}</td>
                                    <td>{{ data.Tran_Type }}</td>
                                    <td>{{ data.Note }}</td>
                                    <td>{{ data.Journal_NO }}</td>


                                    <!-- <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-primary edit-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#showModal">Edit</button>
                                            </div>

                                        </div>
                                    </td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="text-sm-right float-sm-end listjs-pagination gap-2">
                            <ngb-pagination [collectionSize]="transactions.length" [(page)]="currentPage"
                                [pageSize]="pageSize" (pageChange)="loadPage()">
                            </ngb-pagination>
                        </div>
                    </div>
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>

    <button *ngIf="transactions.length > 0" (click)="postTransactions()" class="btn btn-primary post-button">
        {{ !isPosting ? 'Post Transaction' : 'Posting' }}
      </button>

      <ngb-toast type="success" *ngIf="showAddToast" (hidden)="showAddToast = false">
        <div class="toast-body">
            Transaction Imported successfully.
        </div>
    </ngb-toast>
    