.center-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .custom-toast {
    position: fixed;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: 10; /* Ensure toast appears above other elements */
  }
 