<ngb-toast
  type="success"
  *ngIf="showEditToast"
  (hidden)="showEditToast = false"
>
  <div class="toast-body">Your Property has been edited successfully.</div>
</ngb-toast>
<ngb-toast type="success" *ngIf="showAddToast" (hidden)="showAddToast = false">
  <div class="toast-body">Your Property has been Added successfully.</div>
</ngb-toast>
<ngb-toast
  type="success"
  *ngIf="showSuccessToast"
  (hidden)="showSuccessToast = false"
>
  <div class="toast-body">Property has been Deleted successfully.</div>
</ngb-toast>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Property List</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div id="customerList">
          <div class="row g-4 mb-3">
            <div class="col-sm-auto">
              <div class="d-flex gap-1">
                <button
                  type="button"
                  class="btn btn-primary add-btn"
                  data-bs-toggle="modal"
                  id="create-btn"
                  data-bs-target="#showModal"
                  (click)="openModal(Add)"
                >
                  <i class="ri-add-line align-bottom me-1"></i> Add
                </button>
              </div>
            </div>
          </div>

          <div class="table-responsive table-card mt-3 mb-1">
            <div *ngIf="isLoading">
              <div
                class="d-flex justify-content-center align-items-center"
                style="height: 200px"
              >
                <div
                  class="spinner-border"
                  role="status"
                  style="width: 3rem; height: 3rem"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <table class="table" *ngIf="!isLoading">
              <thead>
                <tr class="bg-light text-muted">
                  <th>Property Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of getVisibleSchedules()">
                  <td>{{ data.Property_Type }}</td>

                  <td>
                    <div class="d-flex gap-2">
                      <div class="edit">
                        <button
                          class="btn btn-sm btn-primary edit-item-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#showModal"
                          (click)="editModa(content, data.Pro_Type_ID)"
                        >
                          Edit
                        </button>
                      </div>
                      <div class="remove">
                        <button
                          class="btn btn-sm btn-success remove-item-btn"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteRecordModal"
                          (click)="confirm(deleteModel, data.Pro_Type_ID)"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center" *ngIf="!isLoading">
              <div class="text-sm-right float-sm-end listjs-pagination gap-2">
                <ngb-pagination
                  [collectionSize]="propertys.length"
                  [(page)]="currentPage"
                  [pageSize]="pageSize"
                  (pageChange)="loadPage()"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Party Data -->
<ng-template #content role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Property</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form [formGroup]="propertyForm" class="tablelist-form" autocomplete="off">
    <div class="modal-body">
      <div class="mb-3">
        <label for="phone-field" class="form-label">Property</label>
        <input
          type="text"
          id="phone-field"
          class="form-control"
          placeholder="Enter Property Type"
          required
          formControlName="Property_Type"
          [ngClass]="{
            'is-invalid': submitted && form['Property_Type'].errors
          }"
        />
        @if(submitted && form['Property_Type'].errors){
        <div class="invalid-feedback">
          @if(form['Property_Type'].errors['required']){
          <span>Property Type is required</span>
          }
        </div>
        }
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-success"
          id="add-btn"
          (click)="EditProperty()"
        >
          {{ !isPosting ? "Update" : "Updating" }}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #Add role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Property</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form [formGroup]="propertyForm" class="tablelist-form" autocomplete="off">
    <div class="modal-body">
      <div class="mb-3">
        <label for="phone-field" class="form-label">Property</label>
        <input
          type="text"
          id="phone-field"
          class="form-control"
          placeholder="Enter Property Type"
          required
          formControlName="Property_Type"
          [ngClass]="{
            'is-invalid': submitted && form['Property_Type'].errors
          }"
        />
        @if(submitted && form['Property_Type'].errors){
        <div class="invalid-feedback">
          @if(form['Property_Type'].errors['required']){
          <span>Property Type is required</span>
          }
        </div>
        }
      </div>
    </div>
    <div class="modal-footer">
      <div
        class="hstack gap-2 justify-content-end"
        [ngClass]="{ disabled: isLoading }"
      >
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-success"
          id="add-btn"
          (click)="createProperty()"
          [disabled]="isLoading"
        >
          {{ !isPosting ? "Save" : "Saving" }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #deleteModel let-modal="modal" let-journal="journal">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal?.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>Are you Sure ?</h4>
          <p class="text-muted mx-4 mb-0">
            Are you Sure You want to Remove this Property ?
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          class="btn btn-link link-success fw-medium text-decoration-none"
          data-bs-dismiss="modal"
          (click)="modal?.close('Close click')"
        >
          <i class="ri-close-line me-1 align-middle"></i> Close
        </button>
        <button
          type="button"
          class="btn w-sm btn-danger"
          id="delete-product"
          (click)="modal?.close('Close click')"
          (click)="delete(property)"
        >
          Yes, Delete It!
        </button>
      </div>
    </div>
  </div>
</ng-template>
