// .balance-sheet {
//     width: 80%;
//     margin: 0 auto;
//     padding: 20px;
//     border: 1px solid #ddd;
//     border-radius: 5px;
//   }

//   h1 {
//     text-align: center;
//     font-size: 2em;
//     margin-bottom: 20px;
//   }

//   h2 {
//     font-size: 1.5em;
//     margin-bottom: 10px;
//   }

//   h3 {
//     font-size: 1.2em;
//     margin-bottom: 5px;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }

//   li {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 5px;
//   }

//   .balance {
//     font-weight: bold;
//   }

.balance-sheet {
  width: 800px; /* Adjust width as needed */
  margin: 0 auto; /* Center the balance sheet horizontally */
  // border: 1px solid #ddd;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: rgb(74, 74, 247);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}

.balance {
  font-weight: bold;
  text-align: right;
}
.assets,
.liabilities {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
